---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress-nginx-external-app
  namespace: flux-system
spec:
  path: ./apps/ingress-nginx-external
  targetNamespace: networking
  interval: 10m
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: ingress-nginx-external
      namespace: networking
  dependsOn:
    - name: metallb-app
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress-nginx-external-monitoring
  namespace: flux-system
spec:
  path: ./apps/ingress-nginx/monitoring
  targetNamespace: networking
  interval: 10m
  prune: true
  dependsOn:
    - name: kube-prometheus-stack-app
  sourceRef:
    kind: GitRepository
    name: flux-system
