---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
spec:
  interval: 5m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.11.4
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx-charts
        namespace: flux-system
  dependsOn:
    - name: metallb
      namespace: metallb-system
  values:
    controller:
      image:
        registry: registry.k8s.io
        image: ingress-nginx/controller
        tag: v1.11.2
        digest: sha256:d5f8217feeac4887cb1ed21f27c2674e58be06bd8f5184cacea2a69abaf78dce
      kind: DaemonSet
      ingressClassResource:
        enabled: true
        name: nginx
        controllerValue: "k8s.io/ingress-nginx"
        default: true
      admissionWebhooks:
        objectSelector:
          matchExpressions:
            - key: ingress-class
              operator: In
              values: ["nginx"]
      service:
        type: LoadBalancer
        loadBalancerIP: "${LB_IP_NGINX_INGRESS}"
        externalTrafficPolicy: Local
      config:
        ssl-protocols: "TLSv1.3 TLSv1.2"
        proxy-body-size: "100m"
      metrics:
        enabled: true
        serviceMonitor:
          enabled: false
      extraArgs:
        default-ssl-certificate: "networking/${SECRET_DOMAIN/./-}-tls"
      resources:
        requests:
          memory: 100Mi
          cpu: 100m
        limits:
          memory: 500Mi
