---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: backube-charts
  namespace: flux-system
spec:
  interval: 30m
  url: https://backube.github.io/helm-charts/
  timeout: 2m
